[package]
name = "tmsu-nautilus"
version = "0.2.1"
authors = ["Andrew Shu <talklittle@gmail.com>"]

[lib]
name = "tmsu_nautilus"
crate-type = ["dylib"]

[dependencies]
gdk = "0.5.0"
gdk-sys = "0.3.1"
gio-sys = "0.3.1"
glib-sys = "0.3.1"
gobject-sys = "0.3.1"
libc = "0.2"
nautilus-extension = "0.1.0"
url = "1.2.0"

[dependencies.gtk]
version = "0.1.0"
features = ["v3_10"]

[dependencies.gtk-sys]
version = "0.3.1"
features = ["v3_10"]
